{% extends "base.html" %}
{% block title %}Login{% endblock %}

    <!-- <h1>This is the login page</h1>          
    {{ text }}   
    {{ user + "sample"}}  
    <!-- Above, the user variable type will be interpreted, and the string 'sample' will be appended to whatever 'user' is. -->
    <!-- Example document for if and else if. The 'else' keyword is used within the same curly braces and percent sign as everything else. 
    {% if boolean == True %}
    The boolean value passed to this template is True
    {% elif boolean == False %}
    The boolean value passed to this template is False
    {% endif %}
    -->
{% block content %}
    <form method="POST">
        <h3>Login to an existing account</h3>
        <fieldset class="form-group">
            <label for="email">Enter your email:</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email">
        </fieldset>

        <fieldset class="form-group">
            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
        </fieldset>
        <br/>
        <button type="submit" class="btn btn-primary">Login to account</button>
    </form>
{% endblock %}